.navbar-ul {
    margin: 1rem 0;
    height: 120px;
    font-weight: 600;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
}
.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    border: 1px solid darkblue;
}
.nav-list:nth-child(2) {
    background-color: beige;
}
.coin-list-info {
    display: flex;
    justify-content: space-around;
}